In [1]:
#dont run this code on jupyter notebook as i observed theres a huge amount of ram usage sometimes Please be advised!
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import time # for calculating execution times
from sklearn import preprocessing #for min max normalisation

#importing required libraries
timea = time.time()

In [2]:
min_max_scaler = preprocessing.MinMaxScaler()
movies = pd.read_csv('../input/the-movies-dataset/movies_metadata.csv')
keywords = pd.read_csv('../input/the-movies-dataset/keywords.csv')
credits = pd.read_csv('../input/the-movies-dataset/credits.csv')
#importing data from read_csv

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#function for removing unusual ids of movies
def to_int(x):
    try:
        return int(x)
    except:
        return np.nan
data = [movies['id'],movies['title'],credits['cast'],credits['crew'],keywords['keywords'],movies['genres'],movies['production_companies'],movies['original_language'],movies['overview'],movies['belongs_to_collection'],movies['popularity'],movies['vote_average'],movies['vote_count']]
data = pd.DataFrame(data).T
#Making pandas dataframe from the required data
data['id'] = data['id'].apply(to_int)
data = data[data['id'].notnull()]
#removing the unidentified ids

In [4]:
data.head()
#visualising data

,id,title,cast,crew,keywords,genres,production_companies,original_language,overview,belongs_to_collection,popularity,vote_average,vote_count
0,862.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]",en,"Led by Woody, Andy's toys live happily in his ...","{'id': 10194, 'name': 'Toy Story Collection', ...",21.9469,7.7,5415
1,8844.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",en,When siblings Judy and Peter discover an encha...,NaN,17.0155,6.9,2413
2,15602.0,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",en,A family wedding reignites the ancient feud be...,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",11.7129,6.5,92
3,31357.0,Waiting to Exhale,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,en,"Cheated on, mistreated and stepped on, the wom...",NaN,3.85949,6.1,34
4,11862.0,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...",en,Just when George Banks has recovered from his ...,"{'id': 96871, 'name': 'Father of the Bride Col...",8.38752,5.7,173

In [5]:
type(data['crew'][0])
#Here the data is corrupted into string although it doesn't look like that in spreadsheet or csv file

str

In [6]:
def str_to_data(x):
    try:
        return eval(x,{"__builtins__":None})
    except:
        return []
features = ['cast','crew','keywords','genres','production_companies','belongs_to_collection']
for feature in features:
    data[feature]=data[feature].apply(str_to_data)
#making the string values to python datatypes in loop using powerful eval() tool inbuit in python for string parsing
#for more reference please visit
#https://www.journaldev.com/22504/python-eval-function

In [7]:
features = ['popularity','vote_average','vote_count']
data[features] =pd.DataFrame(min_max_scaler.fit_transform(data[features].values))
#normalising the three columns in pandas which has float data of popularity, tmdb vote_count, tmdb vote_average

In [8]:
data
#visualising data

,id,title,cast,crew,keywords,genres,production_companies,original_language,overview,belongs_to_collection,popularity,vote_average,vote_count
0,862.0,Toy Story,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'name': 'Pixar Animation Studios', 'id': 3}]",en,"Led by Woody, Andy's toys live happily in his ...","{'id': 10194, 'name': 'Toy Story Collection', ...",0.040087,0.77,0.384725
1,8844.0,Jumanji,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'name': 'TriStar Pictures', 'id': 559}, {'na...",en,When siblings Judy and Peter discover an encha...,[],0.031079,0.69,0.171439
2,15602.0,Grumpier Old Men,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",en,A family wedding reignites the ancient feud be...,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.021394,0.65,0.006536
3,31357.0,Waiting to Exhale,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[{'name': 'Twentieth Century Fox Film Corporat...,en,"Cheated on, mistreated and stepped on, the wom...",[],0.007049,0.61,0.002416
4,11862.0,Father of the Bride Part II,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'id': 35, 'name': 'Comedy'}]","[{'name': 'Sandollar Productions', 'id': 5842}...",en,Just when George Banks has recovered from his ...,"{'id': 96871, 'name': 'Father of the Bride Col...",0.015320,0.57,0.012291
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,439050.0,Subdue,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",[],"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",[],fa,Rising and falling between a man and woman.,[],0.000006,0.00,0.000000
45462,111109.0,Century of Birthing,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",[],"[{'id': 18, 'name': 'Drama'}]","[{'name': 'Sine Olivia', 'id': 19653}]",tl,An artist struggles to finish his work while a...,[],0.000298,0.00,0.000000
45463,67758.0,Betrayal,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...","[{'id': 818, 'name': 'based on novel'}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'name': 'American World Pictures', 'id': 6165}]",en,"When one of her hits goes wrong, a professiona...",[],NaN,NaN,NaN
45464,227506.0,Satan Triumphant,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...","[{'id': 187056, 'name': 'woman director'}]",[],"[{'name': 'Yermoliev', 'id': 88753}]",en,"In a small town live two brothers, one a minis...",[],NaN,NaN,NaN
45465,461257.0,Queerama,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",[],[],[],en,50 years after decriminalisation of homosexual...,[],NaN,NaN,NaN

In [9]:
type(data['crew'][0][0])
#checking whether eval() worked

dict

In [10]:
#function to search for director and return the name
def get_director(total_crew):    
    for crew in total_crew:
        if crew['job'].lower() == 'director':
            return crew['name']
    return np.nan
data['director'] = data['crew'].apply(get_director)
#execution of above function

In [11]:
#function to get top 3 cast names as list
def get_cast(total):
    if isinstance(total,list):
        names = [ele['name'] for ele in total]
        if len(names)>3:
            names = names[:3]
        return names
    return []
data['cast'] = data['cast'].apply(get_cast)
#execution of above function

In [12]:
#function to get all the keywords/genres/production_companies as list
def get_list(total):
    if isinstance(total,list):
        names = [ele['name'] for ele in total]
        return names
    return []
data['keywords'] = data['keywords'].apply(get_list)
data['genres'] = data['genres'].apply(get_list)
data['production_companies'] = data['production_companies'].apply(get_list)
#execution of above function

In [13]:
#function to get the collection as it is in dictionary data type
def get_collection(collection):
    if isinstance(collection,dict):
        names = [collection['name']]
        return names
    return []
data['belongs_to_collection'] = data['belongs_to_collection'].apply(get_collection)
#execution of above function

In [14]:
#stripping by spaces of titles for searching and making it as single word/string
def strip(x):
    if isinstance(x,list):
        return [str.lower(i.replace(" ","")) for i in x]
    else:
        if isinstance(x,str):
            return str.lower(x.replace(" ",""))
        else:
            return ""
features = ['cast','director','keywords','genres','production_companies','belongs_to_collection']
for feature in features:
    data[feature]= data[feature].apply(strip)
#apply the function to all other dataframe lists/strings
data['title_dup'] = data['title'].apply(strip)
#creating duplicaate titles which has stripped original titles

In [15]:
def metadata(x):
    return " ".join(x['keywords'])+" "+" ".join(x['genres'])+" "+" ".join(x['cast'])+" "+x['director']+" "+" ".join(x['production_companies'])+" "+" ".join(x['belongs_to_collection'])
data['metadata']=data.apply(metadata,axis = 1)
#creating metadata sentence which has all the details of the movie

In [16]:
data['index'] = [i for i in range(len(data))]
#creating a index for data frame because it doesn't push if deleted any row

In [17]:
indexing = pd.Series(data.index, index = data['index'])
indices = pd.Series(data.index, index = data['title_dup'])
#creating reverse indexes for getting the index for dataframe from data['index'] as well as from duplicate titles

In [18]:
from sklearn.feature_extraction.text import CountVectorizer 

count = CountVectorizer(stop_words = 'english')
count_matrix = count.fit_transform(data['metadata'])
#making a count vectorizer matrix

In [19]:
count_matrix
# A sparse matrix

<45463x108869 sparse matrix of type '<class 'numpy.int64'>'
	with 512363 stored elements in Compressed Sparse Row format>

In [20]:
# recommender function
def metadata_recommender(title,count_matrix = count_matrix ,df = data, indices = indices,indexing = indexing,content_weight=1,user_weight=0.01,popularity_weight=1,vote_average_weight = 1, vote_count_weight = 1):
    title = str.lower(title.replace(" ","")) #strip the title to check it in duplicate titles
    idxs = indices[title] #get the indexes of title here if one movie exists it will give numpy.int64 if there are more movies it will give pandas.series of numpy.int64 a pandas dataframe
    movie_indices=[]
    movies_list = []
    movies_dict = []
    if isinstance(idxs,np.int64):
        idxs = [idxs] #if the idxs has only one np.int64 then it cant be looped in below so we make a list of that one value if its a list it can be iterated
    for idx in idxs: #for each idx in idxs
        features = ['popularity','vote_average','vote_count'] #non string features which has floats
        x = np.nan_to_num(data[features].values[data['index'][idx]]) #non string features of the title we want
        w = np.asarray([popularity_weight , vote_average_weight, vote_count_weight])
        y = np.nan_to_num(data[features].values) #total features for matching
        x = x*w #multiplying weights to each value of movie.
        math_scores = np.dot(x,y.T) # dot product for getting the scores of non string features
        math_scores = (min_max_scaler.fit_transform(math_scores.reshape(-1,1))).reshape(math_scores.shape[0]) #normalising it 
        sim_scores = (count_matrix[data['index'][idx]]*count_matrix.T).toarray()[0] #dot product of string features count array of the title we want
        # with the total features to get the cosine similarity
    
        sim_scores = (min_max_scaler.fit_transform(sim_scores.reshape(-1,1))).reshape(sim_scores.shape[0]) #normalization
        sim_scores = list(enumerate(sim_scores)) #enumerating and making it as tuple list
        sim_scores = sorted(sim_scores, key = lambda x:x[1],reverse = True) #sorting in descending order
        #print(sim_scores)
        #sim_score = sim_scores[1:21]
        sim_scores = sim_scores[1:51] #taking top 50 movies which has similar metadata features
    
        for i in range(len(sim_scores)):
            sim_scores[i] = (sim_scores[i][0],(content_weight*sim_scores[i][1]+user_weight*math_scores[sim_scores[i][0]])) #calculating weighted sum of metadat features and user rating features       
        sim_scores = sorted(sim_scores, key = lambda x:x[1],reverse = True) # again sorting them in order for getting combined effect
        sim_scores = sim_scores[0:20]#taking top 20 of combined list
        #content_indices = [i[0] for i in sim_score]
        #print(content_indices)
        #print(movie_indices)
        movie_indices.append([indexing[i[0]] for i in sim_scores]) #getting the movie indices
    for movie_index in movie_indices:
        movies_list.append(data['title'].iloc[movie_index])
        i=0
    for idx in idxs:
        movies_dict.append({"Overview" : data['overview'].iloc[data['index'][idx]],"Movies List": movies_list[i]})
        i=i+1
    return movies_dict #data['title'].iloc[movie_index for movie_index in movie_indices],timeb-timea #returning those movies
timeb = time.time()

In [21]:
timeb-timea

55.48642826080322

In [23]:

time1 = time.time()
r = metadata_recommender("The Lion King",user_weight=0.01,popularity_weight = 1)
time2 = time.time()
r

[{'Overview': "A young lion cub named Simba can't wait to be king. But his uncle craves the title for himself and will stop at nothing to get it.",
  'Movies List': 2572                             Tarzan
  47                           Pocahontas
  5310                      Lilo & Stitch
  5744                    Treasure Planet
  4238          Atlantis: The Lost Empire
  9115     The Lion King 2: Simba's Pride
  3493                           Dinosaur
  15348                       Toy Story 3
  11567                       Ratatouille
  581                             Aladdin
  16130                           Tangled
  588                Beauty and the Beast
  1798                              Mulan
  40458                    Tick Tock Tale
  1495                           Hercules
  1972                 The Little Mermaid
  3891           The Emperor's New Groove
  993                          Cinderella
  763         The Hunchback of Notre Dame
  14496         The Princess and the Frog
  Name: title, dtype: object}]

In [ ]:
time2 - time1

In [24]:
time1 = time.time()
r = metadata_recommender("The prestige",popularity_weight = 1)
time2 = time.time()
r

[{'Overview': 'A mysterious story of two magicians whose intense rivalry leads them on a life-long battle for supremacy -- full of obsession, deceit and jealousy with dangerous and deadly consequences.',
  'Movies List': 12481          The Dark Knight
  18252    The Dark Knight Rises
  10122            Batman Begins
  1525         Conspiracy Theory
  15480                Inception
  1567      The Devil's Advocate
  11974              Tell No One
  5800                 Deathtrap
  8056               The Village
  10946             Irresistible
  2647           The Sixth Sense
  5                         Heat
  1207                 Chinatown
  1544         L.A. Confidential
  1054         Dial M for Murder
  2067                      Rope
  901                    Rebecca
  2077      Strangers on a Train
  1239             The Big Sleep
  1407              Lost Highway
  Name: title, dtype: object}]

time2 - time1

In [ ]:
time1 = time.time()
r = metadata_recommender("The prestige",user_weight = 1,popularity_weight = 2)
time2 = time.time()
r

In [ ]:
time2 - time1

In [ ]:
time1 = time.time()
r = metadata_recommender("The Conjuring",user_weight=0.01)
time2 = time.time()
r

In [ ]:
time1 = time.time()
r = metadata_recommender('Spider-Man')
time2 = time.time()
r

In [ ]:
time2 - time1

In [ ]:
time1 = time.time()
r = metadata_recommender('Iron man')
time2 = time.time()
r